[Unit]
Description=Apache Tomcat 9
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ tcat_java_home }}
Environment=CATALINA_PID={{ tcat_install_dir }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tcat_install_dir }}
Environment=CATALINA_BASE={{ tcat_install_dir }}
Environment='CATALINA_OPTS={{ tcat_catalina_opts }}'
Environment='JAVA_OPTS={{ tcat_java_opts }}'

ExecStart={{ tcat_install_dir }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143
TimeoutStopSec=30

User={{ tcat_user }}
Group={{ tcat_group }}

UMask=027

[Install]
WantedBy=multi-user.target
